.about-me {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }
    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      gap: 20px;
      align-items: center;

      h1 {
        font-size: 90px;
        font-weight: 100;
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1166px;
    margin: auto;
    div {
      flex: 1;
    }
  }

  .box {
    padding: 50px;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    .box-desc {
      margin-top: 1rem;
      line-height: 1.5rem;
      font-weight: 300;
      h2 {
        line-height: 2rem;
      }
      h1 {
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 3rem;
        hr {
          width: 40%;
        }
      }
    }

    button {
      padding: 10px;
      background-color: orange;
      border: none;
      cursor: pointer;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
