@import "../../app.scss";
.about-me {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }
    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
      @include mobile {
        display: none;
      }
    }
    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
      @include mobile {
        display: none;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      gap: 20px;
      align-items: center;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      h1 {
        font-size: 90px;
        font-weight: 100;
        @include mobile {
          font-size: 50px;
          margin-top: 2rem;
        }
      }
    }
    a {
      align-self: flex-end;
      margin-right: 12%;

      .resume {
        padding: 1rem 2rem;
        border-radius: 15px;
        background-color: orange;
        align-self: flex-end;
        cursor: pointer;
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1166px;
    margin: auto;
    @include mobile {
      flex-direction: column;
      width: 80%;
      margin-top: 1rem;
    }
    div {
      flex: 1;
    }
  }

  .box {
    padding: 50px;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

    @include mobile {
      border: none;
      align-items: center;
      gap: 20px;
      padding: 10px;
      border: solid 1px gray;
      margin-top: 1rem;
    }

    .box-desc {
      margin-top: 1rem;
      line-height: 1.5rem;
      font-weight: 300;
      h2 {
        line-height: 2rem;
      }
      h1 {
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 3rem;
        hr {
          width: 40%;
        }
      }
    }

    a {
      width: 100%;
      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
