@import "../../app.scss";

.leetcode-github-info-wrapper {
  background: linear-gradient(180deg, #111132, #0c0c1d);
  height: fit-content;
  padding-bottom: 2rem;
}

.leetcode-github-info-wrapper > h1 {
  padding-top: 3rem;
  font-size: 4.2rem;
  text-align: center;
  font-weight: 200;
}
.stats-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  margin-top: 3rem;

  #github-top-langs {
    width: 24rem;
    @include mobile {
      width: 90%;
    }
  }

  @include mobile {
    flex-direction: column;
  }
  div {
    margin: auto;
    h4 {
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      display: block;
      margin-top: 1rem;
      display: block;
      margin: auto;
    }
    @include mobile {
      width: 90%;
      margin: auto;
    }
  }
}

.stats-third {
  margin: auto;
  margin-top: 4rem;
}
.stats-third h4 {
  text-align: center;
}
.stats-third img {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  height: 12rem;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  border-radius: 15px;
  background-color: transparent;
}
