@import "../../app.scss";

.skills-container {
  row-gap: 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 3rem;
  width: 95%;
  margin: auto;
  margin-top: 3rem;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.skills-title i {
  font-size: 2.5rem;
  font-weight: initial;
}

.skills-info,
.skills-data,
.skills-blob {
  display: grid;
}
.skills-info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}
.skills-data {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.skills-blob {
  background-color: transparent;
  padding: 2rem;
  place-items: center;
  margin: auto;
}
.skills-blob img {
  width: 50%;
  @include mobile {
    width: 100%;
  }
}
.skills-name {
  font-size: var(--small-font-size);
}
.skills-subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
  font-weight: 700;
}
.skills-blob:hover img {
  animation: bounce-skills 0.6s;
}
